<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.popularmovies">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".TvActivities.MainActivitytv2"
                  android:theme="@style/noAnimTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".TvActivities.MainActivitytv"/>

        </activity>
        <activity
                android:name=".MovieActivites.viewallact"
                android:theme="@style/noAnimTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MovieActivites.MainActivity"/>
        </activity>
        <activity android:name=".MainActivityPeople"
                  android:theme="@style/noAnimTheme">
        </activity>
        <activity
                android:name=".TvActivities.MainActivitytv"
                android:theme="@style/noAnimTheme">
        </activity>
        <activity
                android:name=".MovieActivites.activity_second"
                android:screenOrientation="portrait"
                android:theme="@style/noAnimTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MovieActivites.MainActivity"/>
        </activity>
        <activity
                android:name=".TvActivities.viewallacttv"
                android:screenOrientation="portrait"
                android:theme="@style/noAnimTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".TvActivities.MainActivitytv"/>
        </activity>
        <activity
                android:name=".MovieActivites.MainActivity"
                android:theme="@style/noAnimTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>